


/* Typography
   ========================================================================== */

body {
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	}
.w-blog.layout_grid .w-blog-post,
.w-blog.layout_latest .w-blog-post {
	font-size: 14px;
	}

.l-header .menu-item-language,
.l-header .w-nav-item {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	}
.type_desktop .menu-item-language > a,
.l-header .type_desktop .w-nav-anchor.level_1,
.type_desktop [class*="columns"] .menu-item-has-children .w-nav-anchor.level_2 {
	font-size: 16px;
	}
.type_desktop .submenu-languages .menu-item-language > a,
.l-header .type_desktop .w-nav-anchor.level_2,
.l-header .type_desktop .w-nav-anchor.level_3,
.l-header .type_desktop .w-nav-anchor.level_4 {
	font-size: 15px;
	}
.l-header .type_mobile .w-nav-anchor.level_1 {
	font-size: 16px;
	}
.type_mobile .menu-item-language > a,
.l-header .type_mobile .w-nav-anchor.level_2,
.l-header .type_mobile .w-nav-anchor.level_3,
.l-header .type_mobile .w-nav-anchor.level_4 {
	font-size: 15px;
	}

h1, h2, h3, h4, h5, h6,
.w-blog-post.format-quote blockquote,
.w-counter-number,
.w-logo-title,
.w-pricing-item-price,
.w-tabs-item-title,
.ult_price_figure,
.ult_countdown-amount,
.ultb3-box .ultb3-title,
.stats-block .stats-desc .stats-number {
	font-family: "Noto Sans", sans-serif;
	font-weight: 400;
	}
h1 {
	font-size: 38px;
	}
h2 {
	font-size: 32px;
	}
h3,
.w-actionbox h2 {
	font-size: 26px;
	}
h4,
.w-blog.layout_latest .w-blog-post-title,
.widgettitle,
.comment-reply-title,
.woocommerce #reviews h2,
.woocommerce .related > h2,
.woocommerce .upsells > h2,
.woocommerce .cross-sells > h2,
.ultb3-box .ultb3-title,
.flip-box-wrap .flip-box .ifb-face h3,
.aio-icon-box .aio-icon-header h3.aio-icon-title {
	font-size: 22px;
	}
h5,
.w-portfolio-item-title {
	font-size: 20px;
	}
h6 {
	font-size: 18px;
	}
@media (max-width: 767px) {
body {
	font-size: 13px;
	line-height: 23px;
	}
h1 {
	font-size: 30px;
	}
h2 {
	font-size: 26px;
	}
h3 {
	font-size: 22px;
	}
h4,
.w-blog.layout_latest .w-blog-post-title,
.widgettitle,
.comment-reply-title,
.woocommerce #reviews h2,
.woocommerce .related > h2,
.woocommerce .upsells > h2,
.woocommerce .cross-sells > h2,
.ultb3-box .ultb3-title,
.flip-box-wrap .flip-box .ifb-face h3,
.aio-icon-box .aio-icon-header h3.aio-icon-title {
	font-size: 20px;
	}
h5,
.w-portfolio-item-title {
	font-size: 18px;
	}
h6 {
	font-size: 16px;
	}
}

/* Layout Options
   ========================================================================== */

.l-body,
.l-header.pos_fixed {
	min-width: 1240px;
	}
.l-canvas.type_boxed,
.l-canvas.type_boxed .l-subheader,
.l-canvas.type_boxed ~ .l-footer .l-subfooter {
	max-width: 1240px;
	}
.l-subheader-h,
.l-titlebar-h,
.l-main-h,
.l-section-h,
.l-subfooter-h,
.w-tabs-section-content-h,
.w-blog-post-body {
	max-width: 1140px;
	}
.l-sidebar {
	width: 25%;
	}
.l-content {
	width: 70%;
	}
@media (max-width: 768px) {
.g-cols.offset_none,
.g-cols.offset_none > div {
	display: block;
	}
.g-cols > div {
	width: 100% !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
	margin-bottom: 30px;
	}
.l-subfooter.at_top .g-cols > div {
	margin-bottom: 10px;
	}
.g-cols.offset_none > div,
.g-cols > div:last-child {
	margin-bottom: 0 !important;
	}
}

/* Header Options
   ========================================================================== */
   
@media (min-width: 901px) {
.l-subheader.at_middle {
	line-height: 120px;
	}
.l-header.layout_advanced .l-subheader.at_middle,
.l-header.layout_centered .l-subheader.at_middle {
	height: 120px;
	}
.l-header.layout_standard.sticky .l-subheader.at_middle,
.l-header.layout_extended.sticky .l-subheader.at_middle {
	line-height: 60px;
	}
.l-header.layout_advanced.sticky .l-subheader.at_middle,
.l-header.layout_centered.sticky .l-subheader.at_middle {
	line-height: 50px;
	height: 50px;
	}
.l-subheader.at_top {
	height: 36px;
	}
.l-subheader.at_top,
.l-subheader.at_bottom {
	line-height: 36px;
	}
.l-header.layout_extended.sticky .l-subheader.at_top {
	line-height: 0px;
	height: 0px;
	}
.l-header.layout_advanced.sticky .l-subheader.at_bottom,
.l-header.layout_centered.sticky .l-subheader.at_bottom {
	line-height: 40px;
	}
.l-header.layout_standard.pos_fixed ~ .l-titlebar,
.l-canvas.titlebar_none.sidebar_left .l-header.layout_standard.pos_fixed ~ .l-main,
.l-canvas.titlebar_none.sidebar_right .l-header.layout_standard.pos_fixed ~ .l-main,
.l-canvas.titlebar_none.sidebar_none .l-header.layout_standard.pos_fixed ~ .l-main .l-section:first-child,
.l-header.layout_standard.pos_static.bg_transparent ~ .l-titlebar,
.l-canvas.titlebar_none.sidebar_left .l-header.layout_standard.pos_static.bg_transparent ~ .l-main,
.l-canvas.titlebar_none.sidebar_right .l-header.layout_standard.pos_static.bg_transparent ~ .l-main,
.l-canvas.titlebar_none.sidebar_none .l-header.layout_standard.pos_static.bg_transparent ~ .l-main .l-section:first-child {
	padding-top: 120px;
	}
.l-header.layout_extended.pos_fixed ~ .l-titlebar,
.l-canvas.titlebar_none.sidebar_left .l-header.layout_extended.pos_fixed ~ .l-main,
.l-canvas.titlebar_none.sidebar_right .l-header.layout_extended.pos_fixed ~ .l-main,
.l-canvas.titlebar_none.sidebar_none .l-header.layout_extended.pos_fixed ~ .l-main .l-section:first-child,
.l-header.layout_extended.pos_static.bg_transparent ~ .l-titlebar,
.l-canvas.titlebar_none.sidebar_left .l-header.layout_extended.pos_static.bg_transparent ~ .l-main,
.l-canvas.titlebar_none.sidebar_right .l-header.layout_extended.pos_static.bg_transparent ~ .l-main,
.l-canvas.titlebar_none.sidebar_none .l-header.layout_extended.pos_static.bg_transparent ~ .l-main .l-section:first-child {
	padding-top: 156px;
	}
.l-header.layout_advanced.pos_fixed ~ .l-titlebar,
.l-canvas.titlebar_none.sidebar_left .l-header.layout_advanced.pos_fixed ~ .l-main,
.l-canvas.titlebar_none.sidebar_right .l-header.layout_advanced.pos_fixed ~ .l-main,
.l-canvas.titlebar_none.sidebar_none .l-header.layout_advanced.pos_fixed ~ .l-main .l-section:first-child,
.l-header.layout_advanced.pos_static.bg_transparent ~ .l-titlebar,
.l-canvas.titlebar_none.sidebar_left .l-header.layout_advanced.pos_static.bg_transparent ~ .l-main,
.l-canvas.titlebar_none.sidebar_right .l-header.layout_advanced.pos_static.bg_transparent ~ .l-main,
.l-canvas.titlebar_none.sidebar_none .l-header.layout_advanced.pos_static.bg_transparent ~ .l-main .l-section:first-child {
	padding-top: 156px;
	}
.l-header.layout_centered.pos_fixed ~ .l-titlebar,
.l-canvas.titlebar_none.sidebar_left .l-header.layout_centered.pos_fixed ~ .l-main,
.l-canvas.titlebar_none.sidebar_right .l-header.layout_centered.pos_fixed ~ .l-main,
.l-canvas.titlebar_none.sidebar_none .l-header.layout_centered.pos_fixed ~ .l-main .l-section:first-child,
.l-header.layout_centered.pos_static.bg_transparent ~ .l-titlebar,
.l-canvas.titlebar_none.sidebar_left .l-header.layout_centered.pos_static.bg_transparent ~ .l-main,
.l-canvas.titlebar_none.sidebar_right .l-header.layout_centered.pos_static.bg_transparent ~ .l-main,
.l-canvas.titlebar_none.sidebar_none .l-header.layout_centered.pos_static.bg_transparent ~ .l-main .l-section:first-child {
	padding-top: 156px;
	}
.l-body.header_aside {
	padding-left: 300px;
	position: relative;
	}
.l-body.header_aside .l-canvas {
	position: static;
	}
.rtl.l-body.header_aside {
	padding-left: 0;
	padding-right: 300px;
	}
.l-header.layout_sided,
.l-header.layout_sided .w-cart-notification {
	width: 300px;
	}
}

/* Logo Options
   ========================================================================== */

@media (min-width: 901px) {
.w-logo-img {
	height: 30px;
	}
.w-logo.with_transparent .w-logo-img > img.for_default {
	margin-bottom: -30px;
	}
.l-header.layout_standard.sticky .w-logo-img,
.l-header.layout_extended.sticky .w-logo-img {
	height: 30px;
	}
.l-header.layout_standard.sticky .w-logo.with_transparent .w-logo-img > img.for_default,
.l-header.layout_extended.sticky .w-logo.with_transparent .w-logo-img > img.for_default {
	margin-bottom: -30px;
	}
.l-header.layout_advanced.sticky .w-logo-img,
.l-header.layout_centered.sticky .w-logo-img {
	height: 30px;
	}
.l-header.layout_advanced.sticky .w-logo.with_transparent .w-logo-img > img.for_default,
.l-header.layout_centered.sticky .w-logo.with_transparent .w-logo-img > img.for_default {
	margin-bottom: -30px;
	}
.l-header.layout_sided .w-logo-img > img {
	width: 200px;
	}
.w-logo-title {
	font-size: 27px;
	}
}
@media (min-width: 601px) and (max-width: 900px) {
.w-logo-img {
	height: 30px;
	}
.w-logo.with_transparent .w-logo-img > img.for_default {
	margin-bottom: -30px;
	}
.w-logo-title {
	font-size: 24px;
	}
}
@media (max-width: 600px) {
.w-logo-img {
	height: 20px;
	}
.w-logo.with_transparent .w-logo-img > img.for_default {
	margin-bottom: -20px;
	}
.w-logo-title {
	font-size: 20px;
	}
}
/* Color Styles
   ========================================================================== */

/* Header Socials Custom Color */
.l-header .w-socials-item.custom .w-socials-item-link-hover {
	background-color: #1abc9c;
	}

/* Body Background Color */
.l-body {
	background-color: #eeeeee;
	}

/*************************** HEADER ***************************/

/* Header Background Color */
.l-subheader.at_middle,
.l-subheader.at_middle .w-lang-list,
.l-subheader.at_middle .type_mobile .w-nav-list.level_1 {
	background-color: #ffffff;
	}

/* Header Text Color */
.l-subheader.at_middle,
.transparent .l-subheader.at_middle .type_mobile .w-nav-list.level_1 {
	color: #666666;
	}
	
/* Header Text Hover Color */
.no-touch .w-logo-link:hover,
.no-touch .l-subheader.at_middle .w-contacts-item-value a:hover,
.no-touch .l-subheader.at_middle .w-lang-item:hover,
.no-touch .transparent .l-subheader.at_middle .w-lang.active .w-lang-item:hover,
.no-touch .l-subheader.at_middle .w-socials-item-link:hover,
.no-touch .l-subheader.at_middle .w-search-open:hover,
.no-touch .l-subheader.at_middle .w-cart-h:hover .w-cart-link,
.no-touch .l-subheader.at_middle .w-cart-quantity {
	color: #d13a7a;
	}

/* Extended Header Background Color */
.l-subheader.at_top,
.l-subheader.at_top .w-lang-list,
.l-subheader.at_bottom,
.l-subheader.at_bottom .type_mobile .w-nav-list.level_1 {
	background-color: #f5f5f5;
	}

/* Extended Header Text Color */
.l-subheader.at_top,
.l-subheader.at_bottom,
.transparent .l-subheader.at_bottom .type_mobile .w-nav-list.level_1,
.w-lang.active .w-lang-item {
	color: #999999;
	}

/* Extended Header Text Hover Color */
.no-touch .l-subheader.at_top .w-contacts-item-value a:hover,
.no-touch .l-subheader.at_top .w-lang-item:hover,
.no-touch .transparent .l-subheader.at_top .w-lang.active .w-lang-item:hover,
.no-touch .l-subheader.at_top .w-socials-item-link:hover,
.no-touch .l-subheader.at_bottom .w-search-open:hover,
.no-touch .l-subheader.at_bottom .w-cart-h:hover .w-cart-link,
.no-touch .l-subheader.at_bottom .w-cart-quantity {
	color: #d13a7a;
	}

/* Transparent Header Text Color */
.l-header.transparent .l-subheader {
	color: #ffffff;
	}

/* Transparent Header Text Hover Color */
.no-touch .l-header.transparent .type_desktop .menu-item-language > a:hover,
.no-touch .l-header.transparent .type_desktop .menu-item-language:hover > a,
.no-touch .l-header.transparent .w-logo-link:hover,
.no-touch .l-header.transparent .l-subheader .w-contacts-item-value a:hover,
.no-touch .l-header.transparent .l-subheader .w-lang-item:hover,
.no-touch .l-header.transparent .l-subheader .w-socials-item-link:hover,
.no-touch .l-header.transparent .l-subheader .w-search-open:hover,
.no-touch .l-header.transparent .l-subheader .w-cart-h:hover .w-cart-link,
.no-touch .l-header.transparent .l-subheader .w-cart-quantity,
.no-touch .l-header.transparent .type_desktop .w-nav-item.level_1:hover .w-nav-anchor.level_1 {
	color: #ffffff;
	}
.l-header.transparent .w-nav-title:after {
	background-color: #ffffff;
	}

/* Search Screen Background Color */
.w-search.layout_popup .w-form:before {
	background-color: #d13a7a;
	}

/* Search Screen Text Color */
.w-search.layout_popup .w-form {
	color: #ffffff;
	}

/*************************** MAIN MENU ***************************/

/* Menu Hover Background Color */
.no-touch .l-header .menu-item-language > a:hover,
.no-touch .type_desktop .menu-item-language:hover > a,
.no-touch .l-header .w-nav-item.level_1:hover .w-nav-anchor.level_1 {
	background-color: #ffffff;
	}

/* Menu Hover Text Color */
.no-touch .l-header .menu-item-language > a:hover,
.no-touch .type_desktop .menu-item-language:hover > a,
.no-touch .l-header .w-nav-item.level_1:hover .w-nav-anchor.level_1 {
	color: #d13a7a;
	}
.w-nav-title:after {
	background-color: #d13a7a;
	}

/* Menu Active Text Color */
.l-header .w-nav-item.level_1.active .w-nav-anchor.level_1,
.l-header .w-nav-item.level_1.current-menu-item .w-nav-anchor.level_1,
.l-header .w-nav-item.level_1.current-menu-ancestor .w-nav-anchor.level_1 {
	color: #d13a7a;
	}
	
/* Menu Active Background Color */
.l-header .w-nav-item.level_1.active .w-nav-anchor.level_1,
.l-header .w-nav-item.level_1.current-menu-item .w-nav-anchor.level_1,
.l-header .w-nav-item.level_1.current-menu-ancestor .w-nav-anchor.level_1 {
	background-color: #ffffff;
	}

/* Transparent Menu Active Text Color */
.l-header.transparent .type_desktop .w-nav-item.level_1.active .w-nav-anchor.level_1,
.l-header.transparent .type_desktop .w-nav-item.level_1.current-menu-item .w-nav-anchor.level_1,
.l-header.transparent .type_desktop .w-nav-item.level_1.current-menu-ancestor .w-nav-anchor.level_1 {
	color: #ff6ba9;
	}

/* Dropdown Background Color */
.type_desktop .submenu-languages,
.l-header .w-nav-list.level_2,
.l-header .w-nav-list.level_3,
.l-header .w-nav-list.level_4 {
	background-color: #ffffff;
	}

/* Dropdown Text Color */
.type_desktop .submenu-languages,
.l-header .w-nav-anchor.level_2,
.l-header .w-nav-anchor.level_3,
.l-header .w-nav-anchor.level_4,
.type_desktop [class*="columns"] .w-nav-item.menu-item-has-children.active .w-nav-anchor.level_2,
.type_desktop [class*="columns"] .w-nav-item.menu-item-has-children.current-menu-item .w-nav-anchor.level_2,
.type_desktop [class*="columns"] .w-nav-item.menu-item-has-children.current-menu-ancestor .w-nav-anchor.level_2,
.no-touch .type_desktop [class*="columns"] .w-nav-item.menu-item-has-children:hover .w-nav-anchor.level_2 {
	color: #666666;
	}

/* Dropdown Hover Background Color */
.no-touch .type_desktop .submenu-languages .menu-item-language:hover > a,
.no-touch .l-header .w-nav-item.level_2:hover .w-nav-anchor.level_2,
.no-touch .l-header .w-nav-item.level_3:hover .w-nav-anchor.level_3,
.no-touch .l-header .w-nav-item.level_4:hover .w-nav-anchor.level_4 {
	background-color: #d13a7a;
	}

/* Dropdown Hover Text Color */
.no-touch .type_desktop .submenu-languages .menu-item-language:hover > a,
.no-touch .l-header .w-nav-item.level_2:hover .w-nav-anchor.level_2,
.no-touch .l-header .w-nav-item.level_3:hover .w-nav-anchor.level_3,
.no-touch .l-header .w-nav-item.level_4:hover .w-nav-anchor.level_4 {
	color: #ffffff;
	}

/* Dropdown Active Background Color */
.l-header .w-nav-item.level_2.current-menu-item .w-nav-anchor.level_2,
.l-header .w-nav-item.level_2.current-menu-ancestor .w-nav-anchor.level_2,
.l-header .w-nav-item.level_3.current-menu-item .w-nav-anchor.level_3,
.l-header .w-nav-item.level_3.current-menu-ancestor .w-nav-anchor.level_3,
.l-header .w-nav-item.level_4.current-menu-item .w-nav-anchor.level_4,
.l-header .w-nav-item.level_4.current-menu-ancestor .w-nav-anchor.level_4 {
	background-color: #ffffff;
	}

/* Dropdown Active Text Color */
.l-header .w-nav-item.level_2.current-menu-item .w-nav-anchor.level_2,
.l-header .w-nav-item.level_2.current-menu-ancestor .w-nav-anchor.level_2,
.l-header .w-nav-item.level_3.current-menu-item .w-nav-anchor.level_3,
.l-header .w-nav-item.level_3.current-menu-ancestor .w-nav-anchor.level_3,
.l-header .w-nav-item.level_4.current-menu-item .w-nav-anchor.level_4,
.l-header .w-nav-item.level_4.current-menu-ancestor .w-nav-anchor.level_4 {
	color: #d13a7a;
	}

/* Menu Button Background Color */
.btn.w-nav-item .w-nav-anchor.level_1 {
	background-color: #d13a7a !important;
	}

/* Menu Button Text Color */
.btn.w-nav-item .w-nav-anchor.level_1 {
	color: #ffffff !important;
	}

/* Menu Button Hover Background Color */
.no-touch .btn.w-nav-item .w-nav-anchor.level_1:before {
	background-color: #6254a8 !important;
	}

/* Menu Button Hover Text Color */
.no-touch .btn.w-nav-item .w-nav-anchor.level_1:hover {
	color: #ffffff !important;
	}

/*************************** MAIN CONTENT ***************************/

/* Background Color */
.l-canvas,
.w-blog.layout_masonry .w-blog-post-h,
.w-cart-dropdown,
.g-filters-item.active,
.no-touch .g-filters-item.active:hover,
.w-portfolio-item-anchor,
.w-tabs.layout_default .w-tabs-item.active,
.no-touch .w-tabs.layout_default .w-tabs-item.active:hover,
.w-tabs.layout_ver .w-tabs-item.active,
.no-touch .w-tabs.layout_ver .w-tabs-item.active:hover,
.w-tabs.layout_timeline .w-tabs-item,
.w-tabs.layout_timeline .w-tabs-section-header-h,
.no-touch #lang_sel ul ul a:hover,
.no-touch #lang_sel_click ul ul a:hover,
#lang_sel_footer,
.woocommerce-tabs .tabs li.active,
.no-touch .woocommerce-tabs .tabs li.active:hover,
.woocommerce .stars span:after,
.woocommerce .stars span a:after,
.woocommerce #payment .payment_box input[type="text"],
#bbp-user-navigation li.current,
.gform_wrapper .chosen-container-single .chosen-search input[type="text"],
.gform_wrapper .chosen-container-multi .chosen-choices li.search-choice {
	background-color: #ffffff;
	}
.woocommerce .blockUI.blockOverlay {
	background-color: #ffffff !important;
	}
a.w-btn.color_contrast,
.w-btn.color_contrast,
.no-touch a.w-btn.color_contrast:hover,
.no-touch .w-btn.color_contrast:hover,
.no-touch a.w-btn.color_contrast.style_outlined:hover,
.no-touch .w-btn.color_contrast.style_outlined:hover,
.w-iconbox.style_circle.color_contrast .w-iconbox-icon {
	color: #ffffff;
	}

/* Alternate Background Color */
input,
textarea,
select,
.l-section.for_blogpost .w-blog-post-preview,
.w-actionbox.color_light,
.w-blog-post-preview-icon,
.g-filters,
.w-iconbox.style_circle.color_light .w-iconbox-icon,
.g-loadmore-btn,
.w-pricing-item-header,
.w-progbar-bar,
.w-tabs-list,
.no-touch .l-main .widget_nav_menu a:hover,
#lang_sel a,
#lang_sel_click a,
.smile-icon-timeline-wrap .timeline-wrapper .timeline-block,
.smile-icon-timeline-wrap .timeline-feature-item.feat-item,
.woocommerce .quantity .plus,
.woocommerce .quantity .minus,
.select2-container a.select2-choice,
.select2-drop .select2-search input,
.woocommerce-tabs .tabs,
.woocommerce #payment .payment_box,
#subscription-toggle,
#favorite-toggle,
#bbp-user-navigation,
.gform_wrapper .chosen-container-single .chosen-single,
.gform_wrapper .chosen-container .chosen-drop,
.gform_wrapper .chosen-container-multi .chosen-choices {
	background-color: #f2f2f2;
	}
.timeline-wrapper .timeline-post-right .ult-timeline-arrow l,
.timeline-wrapper .timeline-post-left .ult-timeline-arrow l,
.timeline-feature-item.feat-item .ult-timeline-arrow l,
.woocommerce #payment .payment_box:after {
	border-color: #f2f2f2;
	}

/* Border Color */
.l-section,
.g-cols > div,
.w-blog-post,
.w-comments-list,
.w-pricing-item-h,
.w-profile,
.w-separator,
.w-tabs-section,
.w-tabs-section-header:before,
.w-tabs.layout_timeline .w-tabs-list:before,
.w-tabs.layout_timeline.accordion .w-tabs-section-content,
.g-tags > a,
.w-testimonial,
.widget_calendar #calendar_wrap,
.l-main .widget_nav_menu > div,
.l-main .widget_nav_menu .menu-item a,
.widget_nav_menu .menu-item.menu-item-has-children + .menu-item > a,
.wp-polls,
.select2-container a.select2-choice,
.smile-icon-timeline-wrap .timeline-line,
.woocommerce table th,
.woocommerce table td,
.woocommerce .login,
.woocommerce .checkout_coupon,
.woocommerce .register,
.woocommerce .cart.variations_form,
.woocommerce .cart .group_table,
.woocommerce .cart .group_table td,
.woocommerce .commentlist .comment-text,
.woocommerce .comment-respond,
.woocommerce .related,
.woocommerce .upsells,
.woocommerce .cross-sells,
.woocommerce .checkout #order_review,
.woocommerce ul.order_details li,
.woocommerce .shop_table.my_account_orders,
.widget_price_filter .ui-slider-handle,
.widget_layered_nav ul,
.widget_layered_nav ul li,
#bbpress-forums fieldset,
#bbpress-forums .bbp-body > ul,
#bbpress-forums li.bbp-header,
.bbp-replies .bbp-body,
div.bbp-forum-header,
div.bbp-topic-header,
div.bbp-reply-header,
.bbp-pagination-links a,
.bbp-pagination-links span.current,
span.bbp-topic-pagination a.page-numbers,
.bbp-logged-in,
.gform_wrapper .gsection,
.gform_wrapper .gf_page_steps,
.gform_wrapper li.gfield_creditcard_warning,
.form_saved_message {
	border-color: #e8e8e8;
	}
.w-separator,
.w-iconbox.color_light .w-iconbox-icon {
	color: #e8e8e8;
	}
a.w-btn.color_light,
.w-btn.color_light,
.w-btn.color_light.style_outlined:before,
.w-btn.w-blog-post-more:before,
.w-iconbox.style_circle.color_light .w-iconbox-icon,
.no-touch .g-loadmore-btn:hover,
.woocommerce .button,
.no-touch .woocommerce .quantity .plus:hover,
.no-touch .woocommerce .quantity .minus:hover,
.widget_price_filter .ui-slider,
.gform_wrapper .gform_page_footer .gform_previous_button {
	background-color: #e8e8e8;
	}
a.w-btn.color_light.style_outlined,
.w-btn.color_light.style_outlined,
.w-btn.w-blog-post-more,
.w-iconbox.style_outlined.color_light .w-iconbox-icon,
.w-person-links-item,
.w-socials-item-link,
.pagination .page-numbers {
	box-shadow: 0 0 0 2px #e8e8e8 inset;
	}

/* Heading Color */
h1, h2, h3, h4, h5, h6,
input,
textarea,
select,
.no-touch a.w-btn.color_light:hover,
.no-touch .w-btn.color_light:hover,
.no-touch .w-btn.w-blog-post-more:hover,
.w-counter-number,
.w-form-row-field:before,
.w-portfolio-item-anchor,
.no-touch .w-portfolio-item-anchor:hover,
.l-section.color_primary a.w-portfolio-item-anchor,
.l-section.color_secondary a.w-portfolio-item-anchor,
.w-pricing-item-header,
.woocommerce .products .product .price,
.woocommerce div.product .price,
.gform_wrapper .chosen-container-single .chosen-single {
	color: #444444;
	}
.w-progbar.color_contrast .w-progbar-bar-h {
	background-color: #444444;
	}

/* Text Color */
.l-canvas,
a.w-btn.color_contrast.style_outlined,
.w-btn.color_contrast.style_outlined,
.w-btn.w-blog-post-more,
.w-cart-dropdown,
.w-iconbox.color_contrast .w-iconbox-icon,
.w-iconbox.color_light.style_circle .w-iconbox-icon,
.w-tabs.layout_timeline .w-tabs-item,
.w-tabs.layout_timeline .w-tabs-section-header-h,
.woocommerce .button {
	color: #666666;
	}
a.w-btn.color_contrast,
.w-btn.color_contrast,
.w-btn.color_contrast.style_outlined:before,
.w-iconbox.style_circle.color_contrast .w-iconbox-icon {
	background-color: #666666;
	}
a.w-btn.color_contrast.style_outlined,
.w-btn.color_contrast.style_outlined,
.w-iconbox.style_outlined.color_contrast .w-iconbox-icon {
	box-shadow: 0 0 0 2px #666666 inset;
	}

/* Primary Color */
a,
.highlight_primary,
.no-touch .l-titlebar .g-nav-item:hover,
a.w-btn.color_primary.style_outlined,
.w-btn.color_primary.style_outlined,
.l-main .w-contacts-item:before,
.w-counter.color_primary .w-counter-number,
.g-filters-item.active,
.no-touch .g-filters-item.active:hover,
.w-form-row.focused .w-form-row-field:before,
.w-iconbox.color_primary .w-iconbox-icon,
.no-touch .w-iconbox-link:hover .w-iconbox-title,
.no-touch .w-logos .owl-prev:hover,
.no-touch .w-logos .owl-next:hover,
.w-separator.color_primary,
.w-tabs.layout_default .w-tabs-item.active,
.no-touch .w-tabs.layout_default .w-tabs-item.active:hover,
.w-tabs-section.active .w-tabs-section-header,
.w-tabs.layout_ver .w-tabs-item.active,
.no-touch .w-tabs.layout_ver .w-tabs-item.active:hover,
.no-touch .g-tags > a:hover,
.woocommerce .products .product .button,
.woocommerce .star-rating span:before,
.woocommerce-tabs .tabs li.active,
.no-touch .woocommerce-tabs .tabs li.active:hover,
.woocommerce .stars span a:after,
#subscription-toggle span.is-subscribed:before,
#favorite-toggle span.is-favorite:before {
	color: #d13a7a;
	}
.l-section.color_primary,
.l-titlebar.color_primary,
.highlight_primary_bg,
.w-actionbox.color_primary,
button,
input[type="submit"],
a.w-btn.color_primary,
.w-btn.color_primary,
.w-btn.color_primary.style_outlined:before,
.no-touch .g-filters-item:hover,
.w-iconbox.style_circle.color_primary .w-iconbox-icon,
.no-touch .w-iconbox.style_circle .w-iconbox-icon:before,
.no-touch .w-iconbox.style_outlined .w-iconbox-icon:before,
.no-touch .w-person.layout_toplinks .w-person-links,
.w-pricing-item.type_featured .w-pricing-item-header,
.w-progbar.color_primary .w-progbar-bar-h,
.w-tabs.layout_timeline .w-tabs-item:before,
.w-tabs.layout_timeline .w-tabs-section-header-h:before,
.no-touch .w-toplink.active:hover,
.no-touch .pagination .page-numbers:before,
.pagination .page-numbers.current,
.l-main .widget_nav_menu .menu-item.current-menu-item > a,
.rsDefault .rsThumb.rsNavSelected,
.no-touch .tp-leftarrow.tparrows.custom:before,
.no-touch .tp-rightarrow.tparrows.custom:before,
.smile-icon-timeline-wrap .timeline-separator-text .sep-text,
.smile-icon-timeline-wrap .timeline-wrapper .timeline-dot,
.smile-icon-timeline-wrap .timeline-feature-item .timeline-dot,
p.demo_store,
.woocommerce .button.alt,
.woocommerce .button.checkout,
.no-touch .woocommerce .products .product .button:hover,
.woocommerce .products .product .button.loading,
.woocommerce .onsale,
.widget_price_filter .ui-slider-range,
.widget_layered_nav ul li.chosen,
.widget_layered_nav_filters ul li a,
.no-touch .bbp-pagination-links a:hover,
.bbp-pagination-links span.current,
.no-touch span.bbp-topic-pagination a.page-numbers:hover,
.gform_wrapper .gform_page_footer .gform_next_button,
.gform_wrapper .gf_progressbar_percentage,
.gform_wrapper .chosen-container .chosen-results li.highlighted {
	background-color: #d13a7a;
	}
.g-html blockquote,
.no-touch .l-titlebar .g-nav-item:hover,
.no-touch .w-logos .owl-prev:hover,
.no-touch .w-logos .owl-next:hover,
.no-touch .w-logos-item:hover .w-logos-item-h,
.w-separator.color_primary,
.w-tabs.layout_default .w-tabs-item.active,
.no-touch .w-tabs.layout_default .w-tabs-item.active:hover,
.w-tabs.layout_ver .w-tabs-item.active,
.no-touch .w-tabs.layout_ver .w-tabs-item.active:hover,
.no-touch .g-tags > a:hover,
.no-touch .w-testimonial:hover,
.l-main .widget_nav_menu .menu-item.current-menu-item > a,
.woocommerce-tabs .tabs li.active,
.no-touch .woocommerce-tabs .tabs li.active:hover,
.widget_layered_nav ul li.chosen,
.bbp-pagination-links span.current,
.no-touch #bbpress-forums .bbp-pagination-links a:hover,
.no-touch #bbpress-forums .bbp-topic-pagination a:hover,
#bbp-user-navigation li.current {
	border-color: #d13a7a;
	}
a.w-btn.color_primary.style_outlined,
.w-btn.color_primary.style_outlined,
.l-main .w-contacts-item:before,
.w-iconbox.color_primary.style_outlined .w-iconbox-icon,
.w-tabs.layout_timeline .w-tabs-item,
.w-tabs.layout_timeline .w-tabs-section-header-h,
.woocommerce .products .product .button {
	box-shadow: 0 0 0 2px #d13a7a inset;
	}
input:focus,
textarea:focus,
select:focus {
	box-shadow: 0 0 0 2px #d13a7a;
	}

/* Secondary Color */
.no-touch a:hover,
.highlight_secondary,
.no-touch .w-blog-post-link:hover .w-blog-post-title,
.no-touch .w-blog-post-link:hover .w-blog-post-preview-icon,
.no-touch .w-blog-post-meta a:hover,
.no-touch .w-blognav-prev:hover .w-blognav-title,
.no-touch .w-blognav-next:hover .w-blognav-title,
a.w-btn.color_secondary.style_outlined,
.w-btn.color_secondary.style_outlined,
.w-counter.color_secondary .w-counter-number,
.w-iconbox.color_secondary .w-iconbox-icon,
.w-separator.color_secondary,
.no-touch .l-main .widget_tag_cloud a:hover,
.no-touch .l-main .widget_product_tag_cloud .tagcloud a:hover,
.no-touch .bbp_widget_login a.button.logout-link:hover {
	color: #6254a8;
	}
.l-section.color_secondary,
.l-titlebar.color_secondary,
.highlight_secondary_bg,
.no-touch input[type="submit"]:hover,
a.w-btn.color_secondary,
.w-btn.color_secondary,
.w-btn.color_secondary.style_outlined:before,
.w-actionbox.color_secondary,
.w-iconbox.style_circle.color_secondary .w-iconbox-icon,
.w-progbar.color_secondary .w-progbar-bar-h,
.no-touch .woocommerce .button:hover,
.no-touch .woocommerce input[type="submit"]:hover,
.no-touch .woocommerce .button.alt:hover,
.no-touch .woocommerce .button.checkout:hover,
.no-touch .woocommerce .product-remove a.remove:hover,
.no-touch .widget_layered_nav_filters ul li a:hover {
	background-color: #6254a8;
	}
.w-separator.color_secondary {
	border-color: #6254a8;
	}
a.w-btn.color_secondary.style_outlined,
.w-btn.color_secondary.style_outlined,
.w-iconbox.color_secondary.style_outlined .w-iconbox-icon {
	box-shadow: 0 0 0 2px #6254a8 inset;
	}

/* Fade Elements Color */
.highlight_faded,
.w-blog-post-preview-icon,
.w-blog-post-meta,
.w-profile-link.for_logout,
.l-main .widget_tag_cloud a,
.l-main .widget_product_tag_cloud .tagcloud a,
.woocommerce-breadcrumb,
.woocommerce .star-rating:before,
.woocommerce .stars span:after,
.woocommerce .product-remove a.remove,
p.bbp-topic-meta,
.bbp_widget_login a.button.logout-link {
	color: #999999;
	}
.w-blog.layout_latest .w-blog-post-meta-date {
	border-color: #999999;
	}
	
/*************************** ALTERNATE CONTENT ***************************/

/* Background Color */
.l-section.color_alternate,
.l-titlebar.color_alternate,
.color_alternate .g-filters-item.active,
.no-touch .color_alternate .g-filters-item.active:hover,
.color_alternate .w-tabs.layout_default .w-tabs-item.active,
.no-touch .color_alternate .w-tabs.layout_default .w-tabs-item.active:hover,
.color_alternate .w-tabs.layout_ver .w-tabs-item.active,
.no-touch .color_alternate .w-tabs.layout_ver .w-tabs-item.active:hover,
.color_alternate .w-tabs.layout_timeline .w-tabs-item,
.color_alternate .w-tabs.layout_timeline .w-tabs-section-header-h {
	background-color: #f2f2f2;
	}
.color_alternate a.w-btn.color_contrast,
.color_alternate .w-btn.color_contrast,
.no-touch .color_alternate a.w-btn.color_contrast:hover,
.no-touch .color_alternate .w-btn.color_contrast:hover,
.no-touch .color_alternate a.w-btn.color_contrast.style_outlined:hover,
.no-touch .color_alternate .w-btn.color_contrast.style_outlined:hover,
.color_alternate .w-iconbox.style_circle.color_contrast .w-iconbox-icon {
	color: #f2f2f2;
	}

/* Alternate Background Color */
.color_alternate input,
.color_alternate textarea,
.color_alternate select,
.color_alternate .w-blog-post-preview-icon,
.color_alternate .g-filters,
.color_alternate .w-iconbox.style_circle.color_light .w-iconbox-icon,
.color_alternate .g-loadmore-btn,
.color_alternate .w-pricing-item-header,
.color_alternate .w-progbar-bar,
.color_alternate .w-tabs-list {
	background-color: #ffffff;
	}

/* Border Color */
.l-section.color_alternate,
.color_alternate .g-cols > div,
.color_alternate .w-blog-post,
.color_alternate .w-comments-list,
.color_alternate .w-pricing-item-h,
.color_alternate .w-profile,
.color_alternate .w-separator,
.color_alternate .w-tabs-section,
.color_alternate .w-tabs-section-header:before,
.color_alternate .w-tabs.layout_timeline .w-tabs-list:before,
.color_alternate .w-tabs.layout_timeline.accordion .w-tabs-section-content,
.color_alternate .w-testimonial {
	border-color: #dddddd;
	}
.color_alternate .w-separator,
.color_alternate .w-iconbox.color_light .w-iconbox-icon {
	color: #dddddd;
	}
.color_alternate a.w-btn.color_light,
.color_alternate .w-btn.color_light,
.color_alternate .w-btn.color_light.style_outlined:before,
.color_alternate .w-btn.w-blog-post-more:before,
.color_alternate .w-iconbox.style_circle.color_light .w-iconbox-icon,
.no-touch .color_alternate .g-loadmore-btn:hover {
	background-color: #dddddd;
	}
.color_alternate a.w-btn.color_light.style_outlined,
.color_alternate .w-btn.color_light.style_outlined,
.color_alternate .w-btn.w-blog-post-more,
.color_alternate .w-iconbox.style_outlined.color_light .w-iconbox-icon,
.color_alternate .w-person-links-item,
.color_alternate .w-socials-item-link,
.color_alternate .pagination .page-numbers {
	box-shadow: 0 0 0 2px #dddddd inset;
	}

/* Heading Color */
.color_alternate h1,
.color_alternate h2,
.color_alternate h3,
.color_alternate h4,
.color_alternate h5,
.color_alternate h6,
.color_alternate input,
.color_alternate textarea,
.color_alternate select,
.no-touch .color_alternate a.w-btn.color_light:hover,
.no-touch .color_alternate .w-btn.color_light:hover,
.no-touch .color_alternate .w-btn.w-blog-post-more:hover,
.color_alternate .w-counter-number,
.color_alternate .w-form-row-field:before,
.color_alternate .w-pricing-item-header {
	color: #333333;
	}
.color_alternate .w-progbar.color_contrast .w-progbar-bar-h {
	background-color: #333333;
	}

/* Text Color */
.l-section.color_alternate,
.color_alternate a.w-btn.color_contrast.style_outlined,
.color_alternate .w-btn.color_contrast.style_outlined,
.color_alternate .w-btn.w-blog-post-more,
.color_alternate .w-iconbox.color_contrast .w-iconbox-icon,
.color_alternate .w-iconbox.color_light.style_circle .w-iconbox-icon,
.color_alternate .w-tabs.layout_timeline .w-tabs-item,
.color_alternate .w-tabs.layout_timeline .w-tabs-section-header-h {
	color: #555555;
	}
.color_alternate a.w-btn.color_contrast,
.color_alternate .w-btn.color_contrast,
.color_alternate .w-btn.color_contrast.style_outlined:before,
.color_alternate .w-iconbox.style_circle.color_contrast .w-iconbox-icon {
	background-color: #555555;
	}
.color_alternate a.w-btn.color_contrast.style_outlined,
.color_alternate .w-btn.color_contrast.style_outlined,
.color_alternate .w-iconbox.style_outlined.color_contrast .w-iconbox-icon {
	box-shadow: 0 0 0 2px #555555 inset;
	}

/* Primary Color */
.color_alternate a,
.color_alternate .highlight_primary,
.no-touch .l-titlebar.color_alternate .g-nav-item:hover,
.color_alternate a.w-btn.color_primary.style_outlined,
.color_alternate .w-btn.color_primary.style_outlined,
.l-main .color_alternate .w-contacts-item:before,
.color_alternate .w-counter.color_primary .w-counter-number,
.color_alternate .g-filters-item.active,
.no-touch .color_alternate .g-filters-item.active:hover,
.color_alternate .w-form-row.focused .w-form-row-field:before,
.color_alternate .w-iconbox.color_primary .w-iconbox-icon,
.no-touch .color_alternate .w-iconbox-link:hover .w-iconbox-title,
.no-touch .color_alternate .w-logos .owl-prev:hover,
.no-touch .color_alternate .w-logos .owl-next:hover,
.color_alternate .w-separator.color_primary,
.color_alternate .w-tabs.layout_default .w-tabs-item.active,
.no-touch .color_alternate .w-tabs.layout_default .w-tabs-item.active:hover,
.color_alternate .w-tabs-section.active .w-tabs-section-header,
.color_alternate .w-tabs.layout_ver .w-tabs-item.active,
.no-touch .color_alternate .w-tabs.layout_ver .w-tabs-item.active:hover {
	color: #d13a7a;
	}
.color_alternate .highlight_primary_bg,
.color_alternate .w-actionbox.color_primary,
.color_alternate button,
.color_alternate input[type="submit"],
.color_alternate a.w-btn.color_primary,
.color_alternate .w-btn.color_primary,
.color_alternate .w-btn.color_primary.style_outlined:before,
.no-touch .color_alternate .g-filters-item:hover,
.color_alternate .w-iconbox.style_circle.color_primary .w-iconbox-icon,
.no-touch .color_alternate .w-iconbox.style_circle .w-iconbox-icon:before,
.no-touch .color_alternate .w-iconbox.style_outlined .w-iconbox-icon:before,
.no-touch .color_alternate .w-person.layout_toplinks .w-person-links,
.color_alternate .w-pricing-item.type_featured .w-pricing-item-header,
.color_alternate .w-progbar.color_primary .w-progbar-bar-h,
.color_alternate .w-tabs.layout_timeline .w-tabs-item:before,
.color_alternate .w-tabs.layout_timeline .w-tabs-section-header-h:before,
.no-touch .color_alternate .w-toplink.active:hover,
.no-touch .color_alternate .pagination .page-numbers:before,
.color_alternate .pagination .page-numbers.current {
	background-color: #d13a7a;
	}
.g-html .color_alternate blockquote,
.no-touch .l-titlebar.color_alternate  .g-nav-item:hover,
.no-touch .color_alternate .w-logos .owl-prev:hover,
.no-touch .color_alternate .w-logos .owl-next:hover,
.no-touch .color_alternate .w-logos-item:hover .w-logos-item-h,
.color_alternate .w-separator.color_primary,
.color_alternate .w-tabs.layout_default .w-tabs-item.active,
.no-touch .color_alternate .w-tabs.layout_default .w-tabs-item.active:hover,
.color_alternate .w-tabs.layout_ver .w-tabs-item.active,
.no-touch .color_alternate .w-tabs.layout_ver .w-tabs-item.active:hover,
.no-touch .color_alternate .g-tags > a:hover,
.no-touch .color_alternate .w-testimonial:hover {
	border-color: #d13a7a;
	}
.color_alternate a.w-btn.color_primary.style_outlined,
.color_alternate .w-btn.color_primary.style_outlined,
.l-main .color_alternate .w-contacts-item:before,
.color_alternate .w-iconbox.color_primary.style_outlined .w-iconbox-icon,
.color_alternate .w-tabs.layout_timeline .w-tabs-item,
.color_alternate .w-tabs.layout_timeline .w-tabs-section-header-h {
	box-shadow: 0 0 0 2px #d13a7a inset;
	}
.color_alternate input:focus,
.color_alternate textarea:focus,
.color_alternate select:focus {
	box-shadow: 0 0 0 2px #d13a7a;
	}

/* Secondary Color */
.no-touch .color_alternate a:hover,
.color_alternate .highlight_secondary,
.no-touch .color_alternate .w-blog-post-link:hover .w-blog-post-title,
.no-touch .color_alternate .w-blog-post-link:hover .w-blog-post-preview-icon,
.no-touch .color_alternate .w-blog-post-meta a:hover,
.color_alternate a.w-btn.color_secondary.style_outlined,
.color_alternate .w-btn.color_secondary.style_outlined,
.color_alternate .w-counter.color_secondary .w-counter-number,
.color_alternate .w-iconbox.color_secondary .w-iconbox-icon,
.color_alternate .w-separator.color_secondary {
	color: #6254a8;
	}
.color_alternate .highlight_secondary_bg,
.no-touch .color_alternate input[type="submit"]:hover,
.color_alternate a.w-btn.color_secondary,
.color_alternate .w-btn.color_secondary,
.color_alternate .w-btn.color_secondary.style_outlined:before,
.color_alternate .w-actionbox.color_secondary,
.color_alternate .w-iconbox.style_circle.color_secondary .w-iconbox-icon,
.color_alternate .w-progbar.color_secondary .w-progbar-bar-h {
	background-color: #6254a8;
	}
.color_alternate .w-separator.color_secondary {
	border-color: #6254a8;
	}
.color_alternate a.w-btn.color_secondary.style_outlined,
.color_alternate .w-btn.color_secondary.style_outlined,
.color_alternate .w-iconbox.color_secondary.style_outlined .w-iconbox-icon {
	box-shadow: 0 0 0 2px #6254a8 inset;
	}

/* Fade Elements Color */
.color_alternate .highlight_faded,
.color_alternate .w-blog-post-preview-icon,
.color_alternate .w-blog-post-meta,
.color_alternate .w-profile-link.for_logout {
	color: #999999;
	}
.color_alternate .w-blog.layout_latest .w-blog-post-meta-date {
	border-color: #999999;
	}

/*************************** SUBFOOTER ***************************/

/* Background Color */
.l-subfooter.at_top,
.no-touch .l-subfooter.at_top #lang_sel ul ul a:hover,
.no-touch .l-subfooter.at_top #lang_sel_click ul ul a:hover {
	background-color: #1a1a1a;
	}

/* Alternate Background Color */
.l-subfooter.at_top input,
.l-subfooter.at_top textarea,
.l-subfooter.at_top select,
.no-touch .l-subfooter.at_top #lang_sel a,
.no-touch .l-subfooter.at_top #lang_sel_click a {
	background-color: #222222;
	}

/* Border Color */
.l-subfooter.at_top,
.l-subfooter.at_top .w-profile,
.l-subfooter.at_top .widget_calendar #calendar_wrap {
	border-color: #222222;
	}
.l-subfooter.at_top .w-socials-item-link {
	box-shadow: 0 0 0 2px #222222 inset;
	}

/* Heading Color */
.l-subfooter.at_top h1,
.l-subfooter.at_top h2,
.l-subfooter.at_top h3,
.l-subfooter.at_top h4,
.l-subfooter.at_top h5,
.l-subfooter.at_top h6,
.l-subfooter.at_top input,
.l-subfooter.at_top textarea,
.l-subfooter.at_top select,
.l-subfooter.at_top .w-form-row-field:before {
	color: #cccccc;
	}

/* Text Color */
.l-subfooter.at_top {
	color: #808080;
	}

/* Link Color */
.l-subfooter.at_top a,
.l-subfooter.at_top .widget_tag_cloud .tagcloud a,
.l-subfooter.at_top .widget_product_tag_cloud .tagcloud a {
	color: #cccccc;
	}

/* Link Hover Color */
.no-touch .l-subfooter.at_top a:hover,
.no-touch .l-subfooter.at_top .w-form-row.focused .w-form-row-field:before,
.no-touch .l-subfooter.at_top .widget_tag_cloud .tagcloud a:hover,
.no-touch .l-subfooter.at_top .widget_product_tag_cloud .tagcloud a:hover {
	color: #ffffff;
	}
.l-subfooter.at_top input:focus,
.l-subfooter.at_top textarea:focus,
.l-subfooter.at_top select:focus {
	box-shadow: 0 0 0 2px #ffffff;
	}

/*************************** FOOTER ***************************/

/* Background Color */
.l-subfooter.at_bottom {
	background-color: #222222;
	}

/* Text Color */
.l-subfooter.at_bottom {
	color: #666666;
	}

/* Link Color */
.l-subfooter.at_bottom a {
	color: #999999;
	}

/* Link Hover Color */
.no-touch .l-subfooter.at_bottom a:hover {
	color: #ffffff;
	}


