.srp-thumbnail-box img{ border-radius:50%;}
a:hover{ text-decoration:none !important; border-bottom:none;}
.w-actionbox{ padding-left:0 !important; padding-right:0 !important;}
.home .l-header{}	
.section-custom{ position:relative;}
.section-custom .l-section-h{ padding-bottom:0;}
.custom-menu{ position:absolute !important; width:258px; left:90px; top:90px; z-index:99;}
.custom-menu .menu-main-menu-container{ background-color:#d1692a; padding:11px 25px 0;}
.custom-menu .menu-main-menu-container .menu{ margin:0;}
.custom-menu .menu-main-menu-container .menu li{ list-style:none; padding:11px 0; background:url(border-line.png) left bottom no-repeat; margin-bottom:0;}
.custom-menu .menu-main-menu-container .menu li a{ font-size:20px; font-weight:300; color:#fff; cursor:pointer;}
.custom-menu .menu-main-menu-container .menu li.current_page_item a, .custom-menu .menu-main-menu-container .menu li a:hover{ font-weight:400; text-decoration:none;cursor:pointer;}
.menu-item-89 a{background:url(../img/hand_icon.png)0 0px no-repeat; padding-left:30px; font-weight:bold !important;}
.custom-menu .social_top{background-color:#c65e1f; padding:10px 25px;}
.custom-menu .social_top li a img{ width:25px; height:auto; margin:5px 0 0 10px!important;}
.custom-menu .social_top a img{ float:left; margin-bottom:0; margin-top:10px;}
.custom-menu .social_top .cnss-social-icon{ margin:0; float:right;}
.custom-menu .social_top .cnss-social-icon .facebook, .custom-menu .social_top .cnss-social-icon .twitter{ display:none !important;}
.custom-menu .social_top .cnss-social-icon li{ margin-bottom:0;}

.tp-caption.rev-btn.rs-hover-ready { border-radius: 3px; line-height: 25px !important; padding-bottom: 16px !important;}

.our-gallery h1, .contribute-area h1{ font-weight:300; font-size:56px;}
.w-btn-label{ color:#fff;}
.tp-caption h1{ font-weight:300 !important; font-size:70px !important; line-height:65px !important; color:#fff; text-shadow:0 3px 0 rgba(0, 0, 0, 0.15);}
.tp-caption h1 span{ font-weight:700 !important;line-height:normal !important;}
.contribute-area .one-fifth { padding:22px 12px 0; width:18.3% !important; min-height:366px;}
.contribute-area .g-cols.offset_small > div:first-child{ margin-left:0 !important;}
.contribute-area .g-cols.offset_small > div{/* margin-left:2% !important;*/}
.l-section-img{ background-position:0px 30px;}

.l-subfooter-h .g-cols.offset_medium {
    margin-bottom:25px;
}
.l-subfooter-h .g-cols.offset_medium > .one-third {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    padding-left: 40px;
	min-height: 180px;
}
.l-subfooter-h .g-cols.offset_medium > .one-third:first-child {
    border-left: none;
    padding-left: 0;
}
.l-subfooter-h .widget_text{ /*text-align:center;*/}
.l-subfooter-h #text-2.widget_text .textwidget{/* background:url(../img/phone.png)0 4px no-repeat;padding-left:35px;*/ font-size:26px;  display:inline;}
.l-subfooter-h #text-2.widget_text .textwidget p {
	font-size: 18px;
    line-height: 28px;
	color: #626262;
}
.l-subfooter-h #text-6.widget_text .textwidget {
	/*background:url(../img/phone.png) left top no-repeat;
	padding-left:35px;*/
	font-size:18px;
	min-height: 27px;
}
.l-subfooter-h #text-6.widget_text .textwidget ul li {
	margin-bottom: 8px;
    padding-left: 10px;
}
.l-subfooter-h #text-6.widget_text .textwidget ul li .fa {
	margin-right: 5px;
}
.l-subfooter-h #text-7.widget_text {
	margin:0;
}
.l-subfooter-h #text-7.widget_text .textwidget .cnss-social-icon {
	text-align:left !important;
}
.l-subfooter-h #text-8.widget_text {
	margin: 0;
}
.l-subfooter-h #text-8.widget_text .textwidget h6 {
	margin: 0;
    text-align: left !important;
}
.l-subfooter.at_top .menu{ display:block; text-align:center;}
.l-subfooter.at_top .menu li{ display:inline-block;}
.w-copyright{ font-size:14px; /*color:#393939;*/font-weight: 400;}
.l-footer .widget_nav_menu .menu-item:before { content: "|"; font-family: fontawesome; font-size: 18px;  left: 2px;  opacity:1; position: absolute;  top: 6px;}
.newsletter form{ width:530px; margin:0 auto;}
.l-footer .widget_nav_menu .menu-item:first-child:before{ font-size:0;}
.newsletter p{ float:left;}
.newsletter .newsletter-email{ width:385px; margin-right:5px; background-color:#fff; border:1px solid #ccc; color:#8d8c8c;}
.w-btn.color_lime{ font-weight:300; background-color:#a4bd40;}
.newsletter .newsletter-submit{background-color:#d1692a; position:relative; margin-top:0px !important; padding:10px 20px;}
.w-btn.color_lime{ background-color:#a4bd40 !important;}
.w-btn-label{ text-transform:none; font-size:18px; }

.news-section h2.wpb_heading{ font-weight:300; font-size:36px;}
.news-section .srp-content-box .srp-post-title{ float:left; font-size:16px; font-weight:700;}
.news-section .srp-content-box .srp-post-date{ float:right; font-size:13px; color:#737373; margin-bottom:0;}
.news-section .srp-content-box .srp-post-content{ clear:both;font-size:16px;}
.srp-post-stringbreak-link{ color:#d1692a;}
.news-section .srp-widget-singlepost{ border:none;}



.our-gallery .single_latest .title-head{font-size:16px; font-weight:700;}
.our-gallery .single_latest .hubreadmore{color:#bd5515; position:absolute; bottom:10px; left:15px;}
.our-gallery .single_latest p{ margin-bottom:0;  min-height: 103px;
    overflow: hidden;}
.our-gallery .latest .single_latest .title_description_odd, .our-gallery .latest .single_latest .title_description_even{ min-height:180px; max-height:inherit; position:relative;}


.supporter h4.vc_custom_heading{ margin-bottom:0;}
.supporter h2.vc_custom_heading{ padding-top:0; margin-bottom:50px; font-size:36px;}

.l-subfooter{ padding-left:0 !important; padding-right:0 !important;}
.l-subfooter.at_top{ padding-bottom:0 !important;}

/* header */

.l-header{ /*position:absolute !important; top:20px;*/}
.l-header .l-subheader{ width:1170px; margin:0 auto; padding:0; }
.current-menu-item li a{ font-weight:600 !important;}
.l-subheader.at_top{ background-color:transparent !important;}
.about-header{ min-height:358px;}
.l-subheader.at_middle{height:90px; line-height:90px !important;}
.l-header .w-nav-anchor.level_1{ padding-left:12px !important; padding-right:12px !important;}
.w-logo{ margin-top:-35px; margin-left:10px;}
.about-header .vc_custom_heading{ padding-top:142px;}
.type_desktop .menu-item-89 a span{background:url(../img/hand_bg.png)0 0px no-repeat; padding-left:30px; font-weight:bold !important; color:#d1692a;}

.vision-list{ }
.vision-list ul{ margin-left:40px;}
.vision-list ul li{ list-style:none; position:relative; color:#d1692a; font-size:22px; font-weight:300; margin-bottom:10px !important;}
.vision-list ul li:before{ content:'→'; position:absolute; left:-30px; top:-2px; font-size:22px;color:#d1692a; }


.section-history p b{ color:#d1692a;}

.member-sec .list-left { float:left; /*text-align:right;*/}
.member-sec .right-nav { float:right; text-align:right;}
.member-sec ul li{ list-style:none; position:relative; font-size:24px;color:#d1692a; font-weight:300; margin-bottom:20px !important;}
.member-sec ul li:after{content:'\25CF'; position:absolute; right:-20px; top:-2px; font-size:18px;color:#d1692a;}

.working-staff.g-cols.offset_small .one-quarter{ padding:inherit; border:none; min-height:inherit;}
.working-staff .one-third img{ width:100%;}
.working-staff.g-cols.offset_small .one-quarter{ width:34%;}
.working-staff.g-cols.offset_small .three-quarters{ width:62%;}

strong { color: #d1692a;}


/*------9th NOV, 2015------*/
.history_background {padding: 20px 0 !important;}
.history_background .l-section-img{background-repeat: no-repeat;}
.history_background .l-section-h {padding-bottom: 0px !important; padding-top:0px !important;}
.history_background .l-section-h .one-half p {margin-bottom: 0;}
.history_background .section-history {width:1170px;margin:auto;}
.board-background .l-section-img{background-repeat: no-repeat;background-size: auto !important;background-position:0px;}
.board-background .l-section-h{ padding-top:0px !important;}
.board-background .l-section-h .vc_inner h1{ margin-top:10px;}
.ngg-album{ padding:15px !important; margin-bottom:15px !important; display:inline-block; width:48%;}
.ngg-album:nth-child(2n){ margin-left:15px;}
.single_latest .title_description center a.btn-success{ background:#a1c138; border-color:#94b330;}
.single_latest .title_description center a{ font-weight:700;}
/*.single_latest .single_image{ margin-bottom:20px;}*/
.single_latest .title_description center .authorname{ font-style:italic;}
.single_latest .title_description center p{ color:#6c6c6c; }


/*11/18/2015*/


.workhed {margin:0px;color:#666;}
.workhedbtm {padding:0px !important;}
.volnhed h2{margin-bottom:0px;}

.page-id-482 .l-content {background:#f7f7f7;}
.srp-widget-container .srp-post-content-container {background:#fff;border-bottom:1px solid #ccc;padding:10px;}
.involform .wpcf7-form {padding:15px;}
.involform h4 {padding:15px;font-size:18px;margin-bottom:0px;border-radius:6px 6px 0px 0px;}
.involform h6 {font-size:16px;}
.involform .wpb_text_column {border-radius:0px 0px 6px 6px;}
.involform .wpcf7-form [type="text"] {background:#efa373;color:#7a2f00;font-size:16px;}
.involform .wpcf7-form [type="tel"] {background:#efa373;color:#7a2f00;font-size:16px;}
.involform .wpcf7-form [type="email"] {background:#efa373;color:#7a2f00;font-size:16px;}
.involform .wpcf7-form [type="submit"] {background:#a2c139;color:#fff;}

.page-id-620 .l-content {background:#f7f7f7;}
/*.page-id-620 .organizational_news .col-lg-4 {margin:0px 20px;padding-bottom:0px !important;}*/
.page-id-620 .organizational_news .title_description center {font-size:16px;color:#666;}
.page-id-620 .organizational_news .title_description a {display:block;}
.page-id-620 .organizational_news .title_description .title-head {font-size:24px;font-weight:bold;margin-top:10px;}
.page-id-620 .organizational_news .title_description p {font-size:16px;}
.page-id-620 .organizational_news h1 {margin:20px 0px;color:#000;}

.page-id-620 .in_the_media .col-lg-4 {padding-bottom:0px !important;}
.page-id-620 .in_the_media .title_description center {font-size:16px;color:#666;}
.page-id-620 .in_the_media .title_description a {display:block;}
.page-id-620 .in_the_media .media-item {
	background-color: #fff;
    border-bottom: 1px solid #bdbdbd;
    margin-bottom: 20px;
    padding: 15px;
	position:relative;
}
.page-id-620 .in_the_media .media-item:after {
	background-color: rgba(0, 0, 0, 0.5);
    background-image: url("../img/zoom-icon.png");
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
    content: "";
    height: 50px;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    position: absolute;
    top: 50%;
    width: 50px;
}
.page-id-620 .in_the_media .media-item .single_latest {
	background-color: #000;
}
.page-id-620 .in_the_media .media-item .single_latest a:hover img {
	opacity:0.5;
}
.page-id-620 .in_the_media .media-item .single_image img {
    height: 240px;
}
.page-id-620 .in_the_media .title_description .title-head {font-size:24px;font-weight:bold;margin-top:20px;}
.page-id-620 .in_the_media .media-item .media-item-date {
	color: #878787;
    display: block;
    font-size: 16px;
}

.page-id-620 .in_the_media .title_description p {
	font-size: 16px;
    font-weight: 300;
    line-height: 1.35;
    margin-top: 10px;
}
.page-id-620 .in_the_media h1 {margin:20px 0px;color:#000;}

.page-id-620 .in_the_media .organizational_news {
    background-color: #fff;
    padding: 30px 0;
}

.page-id-620 .page_content > .l-section {
    padding-top: 40px !important;
}

.page-template-stories .l-content,
.page-template-playroom .l-content {
	background:#f7f7f7;
}
.page-template-stories .title_description .title-head,
.page-template-playroom .title_description .title-head  {
	margin:20px 0px 0px;display:block;font-size:22px;
}
.page-template-stories .title_description,
.page-template-playroom .title_description {
	font-size:14px;color:#666;
}
.page-template-stories .authorname,
.page-template-playroom .authorname {
	color:#333;
}
/*.page-template-stories */.gallerysection {margin:40px auto 0 auto;}
/*.page-template-stories*/ .gallerysection .single_latest {background:#fff;padding:15px;border-bottom:1px solid #ccc; margin-bottom: 20px;} 
/*.page-template-stories*/ .gallerysection p {text-align:center;}

.page-id-425 .l-content {background:#f7f7f7;}
.page-id-425 .l-content .row{background:#fff;border-bottom:1px solid #ccc;padding:0px;margin-bottom:30px;}
.page-id-425 .page-template-stories .title_description .title-head {margin-top:8px;font-weight:bold;}

.pdfdownload{ background-color:#fff !important;}
.pdfdownload span{color:#333333 !important}

.breadcrumbsnew {
    /*color: #9c9c9c;
    font-size: 14px;
    padding: 20px 0;
    max-width: 1170px;
	background-color:#F8F8F8;*/
	
	color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    font-weight: 400;
    height: 0;
    padding: 0;
    position: relative;
    top: -40px;
	/*text-align:right;*/
}
.breadcrumbsnew span {
    display: inline-block;
    padding: 0 2px;
}
.breadcrumbsnew a {
    color:#fff;
}
/*------- Usefull Buttons ------*/
.useful-buttons {
	text-align:center;
}
.useful-buttons ul  {
	margin:0 ;
	list-style:none;
}
.useful-buttons ul li {
	display: inline-block;
    margin: 5px 10px !important;
}
.useful-buttons ul li a {
	border: 1px solid #d1692a;
    border-radius: 5px;
    color: #d1692a;
    display: block;
    padding: 8px 25px;
}
.useful-buttons ul li a:hover {
	background-color:#d1692a;
	color:#fff;
}

/*------- Gallery Page ------*/
.ngg-galleryoverview .ngg-gallery-thumbnail-box {
    margin-right: 0;
    width: 25%;
}
.ngg-galleryoverview .ngg-gallery-thumbnail {
    float: none;
    text-align: center;
}
.ngg-galleryoverview .ngg-gallery-thumbnail img {
    border: 1px solid #e7e7e7;
    display: block;
    margin: 20px auto !important;
    padding: 10px;
}
.ngg-galleryoverview .ngg-gallery-thumbnail img:hover {
    background-color: #fff;
	box-shadow:0 2px 3px rgba(0, 0, 0, 0.1);
}
/*------- Form Page style ------*/
.wpcf7-form span.wpcf7-not-valid-tip {
    background-color: red;
    color: #fff;
    display: inline-block;
    font-size: 14px !important;
    font-weight: 600;
    padding: 4px 10px;
}
.wpcf7-form div.wpcf7-validation-errors {
    background-color: #f7e700;
    color: #333;
}
.wpcf7-form div.wpcf7-mail-sent-ok {
    background-color: #398f14;
    color: #fff;
}


@media (max-width: 1024px) {	

.l-header .w-nav{ display:block;}
.l-header .l-subheader{ width:100%;}
.w-socials-item{ float:right !important; margin-right:20px;}
.w-logo-img{ height:auto !important}
.w-nav-control {margin-right: 15px !important; font-size:40px !important;}
.w-nav.type_mobile, .w-nav.type_mobile .w-nav-control{ cursor:pointer;}
.type_desktop .menu-item-language > a, .l-header .type_desktop .w-nav-anchor.level_1, .type_desktop [class*="columns"] .menu-item-has-children .w-nav-anchor.level_2{ font-size:14px !important;}
.w-nav-list{ float:right;}.type_desktop .submenu-languages .menu-item-language > a, .l-header .type_desktop .w-nav-anchor.level_2, .l-header .type_desktop .w-nav-anchor.level_3, .l-header .type_desktop .w-nav-anchor.level_4{font-size:14px !important;}
.l-header .w-nav-anchor.level_1 { padding-right: 10px !important;}
html{ margin-top:0px !important;}
/*--------*/
.contribute-area .g-cols.offset_small > div:first-child {
    margin-left: 0 !important;
}
.contribute-area .g-cols.offset_small > div{/*margin-left: 0 !important;*/ width: 48%; margin-bottom: 30px;}
.contribute-area .g-cols.offset_small > div:nth-child(3) { margin-left: 0 !important; }

.news-section .g-cols.offset_small > div.full-width {
    margin-left: 0;
    width: 100%;
}

}
	
@media (max-width: 768px) {
	.l-header{ position:inherit !important; top:0px;}
	.w-nav-list{ float:none}
.l-header{ position:inherit !important;}
.l-subheader-h, .l-titlebar-h, .l-main-h, .l-section-h, .l-subfooter-h, .w-tabs-section-content-h, .w-blog-post-body{ width:100%;}
.l-header .l-subheader{ width:100%;}
.w-nav-control{ float:none;  margin-right: 15px;}
.w-nav.type_mobile{border-bottom: 1px solid #ccc; box-shadow: 1px 1px 1px #ccc; }
.w-socials-item{ float:right !important; padding-right: 15px;}
.l-subheader.at_top .w-socials{ width:100%; padding-left:15px !important}
.custom-menu{ left:0px; width:100%;}
.home .l-header{ display:block;}
.custom-menu{ display:none;}
.contribute-area .one-fifth{ width:100% !important;}

.latest .single_latest .title_description_odd, .latest .single_latest .title_description_even{ width:100%; margin-bottom:20px !important;}
.single_latest .single_image img{ height: auto;}
.g-cols > div {margin-bottom: 30px;}
.newsletter form{ width:auto;}
.newsletter p{ float:none; text-align:center;}
.member-sec .list-left{ float:none; text-align:center;}
.g-cols.offset_large > .one-half {margin-left: 0; width: 100% !important;}
.board-background .l-section-h .vc_inner h1{ text-align:center !important;}
.member-sec .right-nav {float: none;text-align: center !important;}
.member-sec ul li:after{ display:none}
.vision-list ul li:before { display:none;}
.g-cols.offset_small > .one-half { padding: 15px;text-align: center; width: 100%;}
.board-background .l-section-img{ background-size:cover !important;}

}


@media (max-width:640px) {
.tp-caption.rev-btn.rs-hover-ready {border-radius: 3px;font-size: 15px !important;line-height: 25px !important;padding: 12px !important;}
.newsletter .newsletter-email{ width:85%;}
}


@media (max-width:375px) {
.l-subheader.at_middle {height:60px;}
.l-header{ top:10px;}

.l-subheader.at_middle {line-height: 60px !important;}
.w-logo-img {height: 65px !important;}
.our-gallery h1, .contribute-area h1{ font-size:35px;}
}










