.man_hdr{
	text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 42px;
}

.dat_ara{
	margin: 30px 0px;
}

.dat_ara .slip_no label{
	font-weight: bold;
    font-size: 24px;
    margin: auto;
    line-height: 48px;
}

.dat_ara .slip_no input{
	border: 0px;
    width: 210px;
    line-height: 38px;
    text-indent: 10px;
    font-size: 40px;
    margin-left: 20px;
}

.dat_ara .slip_dat label{
	font-weight: bold;
    font-size: 24px;
    margin: auto;
    line-height: 48px;
}

.dat_ara .slip_dat input{
	border: 0px;
    border-bottom: 3px dotted #6F6F6F;
    width: 170px;
    line-height: 38px;
    text-indent: 6px;
    font-size: 31px;
    margin-left: 20px;
}

.man_info{
	margin: auto;
    list-style: none;
    padding: 0px;
}

.man_info li{
	width: 100%;
	margin-bottom: 10px;
}

.man_info li:first-child label{
	max-width: 27%;
    margin-top: 20px;
    font-size: 24px;
    line-height: normal;
    margin-bottom: 0;
}

.man_info li:first-child input{
	width: 71%;
    border: 0px;
    border-bottom: 3px dotted #6F6F6F;
    line-height: 38px;
    text-indent: 6px;
    font-size: 31px;
}


.man_info li:last-child label{
	max-width: 26%;
    margin-top: 20px;
    font-size: 24px;
    line-height: normal;
    margin-bottom: 0;
}

.man_info li:last-child input{
	width: 77%;
    border: 0px;
    border-bottom: 3px dotted #6F6F6F;
    line-height: 38px;
    text-indent: 6px;
    font-size: 31px;
}


.man_info li:nth-child(3) label{
	max-width: 31%;
    margin-top: 20px;
    font-size: 24px;
    line-height: normal;
    margin-bottom: 0;
}

.man_info li:nth-child(3) input{
	width: 67%;
    border: 0px;
    border-bottom: 3px dotted #6F6F6F;
    line-height: 38px;
    text-indent: 6px;
    font-size: 31px;
}

.man_info li:nth-child(2) label{
	max-width: 26%;
    margin-top: 20px;
    font-size: 24px;
    line-height: normal;
    margin-bottom: 0;
}

.man_info li:nth-child(2) input{
	width: 88%;
    border: 0px;
    border-bottom: 3px dotted #6F6F6F;
    line-height: 38px;
    text-indent: 6px;
    font-size: 31px;
}

.man_info li:nth-child(4) label{
	max-width: 20%;
    margin-top: 20px;
    font-size: 24px;
    line-height: normal;
    margin-bottom: 0;
}

.man_info li:nth-child(4) input{
	width: 84%;
    border: 0px;
    border-bottom: 3px dotted #6F6F6F;
    line-height: 38px;
    text-indent: 6px;
    font-size: 31px;
}

.slip_sign label{
	width: 100%;
    text-align: right;
    font-size: 26px;
}

.totl_rat{
	    margin-top: 68px;
}

.slip_botm p{
	padding: 6px 10px;
    border: 2px solid #565656;
    font-size: 19px;
    text-align: center;
    font-weight: bold;
    color: #565656;
}